input{
    border: none;
    background-color: rgb(207, 204, 204);
     width: 45%;
      padding-left: 6px;
      border-radius: 5px;
}

span{
    font-size: 13px;
}

.btnn{
    margin-top: 45px;
    width: 75%;
}
.bt{
 font-size: 12px;
 padding: 5px 3px;
}
 
section{
    width: 90%;
    margin: auto;
}