input{
    border: none;
    background-color: rgb(207, 204, 204);
     width: 45%;
      padding-left: 6px;
      border-radius: 5px;
}

span{
    font-size: 13px;
}

.btnn{
    margin-top: 45px;
    width: 75%;
}
.bt{
 font-size: 12px;
 padding: 5px 3px;
}
 
section{
    width: 90%;
    margin: auto;
}
.blog{
    background-color: rgb(184, 231, 231);
    padding: 0px 20px;
     
}
.calculate{
    width: 25%;
}
@media only screen and (max-width:576px) {
    
    .calculate{
        width: 100%;
        margin-top: 20px;
    }
}
 