input{
    border: none;
    background-color: rgb(207, 204, 204);
     width: 45%;
      padding-left: 6px;
      border-radius: 5px;
}

span{
    font-size: 13px;
}

button{
    margin-top: 45px;
    width: 75%;
    padding: 7px 0px;
    border-radius: 6px;
    border: none;
    background-color: rgb(114, 96, 236);
    color: aliceblue;
}